<template>
	<DataMasterLayout :showrightsidebar="false">
		
	</DataMasterLayout>
</template>
<script>
	import DataMasterLayout from "@/views/layouts/DataMasterLayout";
	export default {
		name: "DMaster",
		components: {
			DataMasterLayout,
		},
	};
</script>
