<template>
	<SystemUserLayout></SystemUserLayout>
</template>
<script>
	import SystemUserLayout from "@/views/layouts/SystemUserLayout";
	export default {
		name: "SystemUsers",
		components: {
			SystemUserLayout,
		},
	};
</script>
